# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
.vscode/
.arceus/
build/
patterns/
duktape.dll
squirrel.dll
test_builds/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json